<header class="header"></header>

<div class="chart-container">
  <div class="title">Activities Occurrences</div>
  <div class="total">
    <small
      >Total:
      <span class="total-value">
        {{ activeOccurrencesTotal$ | async }}
      </span>
    </small>
  </div>

  <app-bar-chart
    [data]="(activities$ | async)?.map(selectOccurrences)"
    [activeRange]="rangeFilter$ | async"
  ></app-bar-chart>

  <div class="slider-container">
    <app-two-way-slider
      [ceil]="(activities$ | async).length"
      (valueChange)="sliderValue($event)"
    ></app-two-way-slider>
  </div>
</div>

<footer class="footer"></footer>
