:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  grid-gap: 40px;

  padding: 0;
  margin: 0;

  .header {
    background-image: linear-gradient(281deg, #0f1535, #028381);
    height: 50px;
  }

  .chart-container {
    margin: 0 auto;

    .title {
      color: #bf1646;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .total {
      margin-bottom: 40px;
      text-align: center;
      color: #808080;
      font-size: 1.2rem;

      .total-value {
        color: #028381;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .slider-container {
    margin: auto;

    width: 900px;
  }

  .footer {
    background-image: linear-gradient(281deg, #028381, #0f1535);
    height: 50px;
    width: 100%;
  }
}
